*.py[cod]
*.so
*.exe
*.exe.log
*.dll
*.orig
*.mo
*.pot
.project
.pydevproject
.settings
doc/epydoc
build
pyvenv.cfg
data/library.zip
data/songs/
!data/songs/bangbang
!data/songs/defy
!data/songs/tutorial
!data/songs/twibmpg
!data/songs/killscores.sh
